.bonus {
  color: red;
}
.picture {
  border-radius: 40px;
  width: 450px;
  display: block;
  margin-left: 150px;
  margin-top: 50px;
  border-style: ridge;
  border-color: red;
}

h1 {
  font-size: medium;
}
.text-underline {
  text-emphasis: underline;
}
.box {
  width: 450px;
  background-color: gold;
  height: 450px;
  border-color: red;
  border-style: ridge;
  border-radius: 40px;
}

figcaption {
  text-align: right;
}
